*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

:root{
  --header-background-color: #134074;
  --main-background-color: #8da9c4;
  --text-color: #eef4ed;
  --text-color2: #0b2545;
  --hover-color: #a6a2a2;
  --footer-background-color: #13315c;
}

header {
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header nav a {
  color: var(--text-color);
  cursor: pointer;
  margin: 0 10px;
}

header nav a:hover {
  color: var(--hover-color);
  text-decoration-line: underline;
}

main{
  background-color: var(--main-background-color);
}

.home-container, .carrousel-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.home-container h1{
  padding: 30px 0;
  font-size: 4vw;
}

.selected-itens-container{
  width: 80vw;
  background-color: #9aabbb;
  padding: 20px 0;
}

.carrousel{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-arrow, .right-arrow{
  width: 5vw;
  cursor: pointer;
}

.carrousel-image{
  width: 15vw;
  height: 20vw;
}

.carrousel-item p{
  padding: 5px 0;
}

footer{
  background-color: var(--footer-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .social-icon{
  width: 32px;
  margin: 10px 0px 10px 20px;
}

footer p{
  color: var(--text-color);
  margin-right: 20px;
}